body, html {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Используйте подходящий шрифт */
    height: 100%;
}

p {
    margin: 0;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    background-image: linear-gradient(140deg, #21dbd6, #b955f2); <!-- #225edf, #12eb83 -->
    animation: gradient 10s infinite linear;
}

@keyframes topnav {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar-user p {
    font-size: 15px;
    color: #f2f2f2;
}

.sidebar-user input {
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
}

.image {
    overflow: hidden;
    width: 100vw;
    height: 125vh;
    position: absolute;
    z-index: -1;
}

.image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.main {
    background-color: rgba(217,229,232,0.66);
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 95%;
    margin: 20px auto;
    border-radius: 7px;
}

.main h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

.index-h1 {
    text-align: center;
    padding-top: 5px;
}

.index-h2 {
    text-align: center;
}

#dashboard-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#dashboard-content ul {
    list-style: none;
    display: flex;
}

#dashboard-content li {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#dashboard-content a {
    color: #3498db;
    text-decoration: none;
}

#dashboard-content a:hover {
    text-decoration: underline;
}

.task-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.task-list div {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.task-list a {
    text-decoration: none;
}

.task-list-head {
    padding-top: 10px;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
}

.info-userlist {
    height: 300px;
    text-align: center;
}

.info-userlist p {
    margin-top: 7%;
    font-weight: bold;
    font-size: 20px;
}

.archive-link {
    text-align: center;
    background-color: rgba(191,218,232,0.86);
    width: 220px;
    margin: 0 auto;
    border-radius: 3px;
}

.pagination-center{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.forms {
    width: 90%;
    margin-left: 4%;
    padding-bottom: 5px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-list div {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.project-list a {
    text-decoration: none;
}

.edit-link {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(191,218,232,0.86);
    width: 220px;
    margin: 0 auto;
    border-radius: 3px;
}

.project-info * {
    margin-left: 10px;
}

.project-info h4 {
    font-weight: bold;
}

.assigner-project {
    background-color: rgba(211,232,232,0.86);
    display: flex;
    width: max-content;
    border-radius: 4px;
}

.task-info * {
    margin-left: 10px;
}

.task-info table {
    width: 98%;
    border-collapse: collapse;
    border-spacing: 10px;
    background-color: rgba(196,203,232,0.86);
}

.task-info th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.task-descr {
    height: 250px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-right: 1%;
    overflow-wrap: break-word;
}

