{% extends "base.html" %}

{% block sidebar %}
  {% if user.is_authenticated %}
    <div>
      <p>{{ user.username }}</p>
      <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Logout">
      </form>
    </div>
  {% else %}
    <div>
      <p><a href="{% url 'login' %}">Log in</a></p>
    </div>
  {% endif %}
  <nav>
    <ul>
      <li>
        <a href="{% url "dashboard:index" %}">Home page</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url "dashboard:my-tasks" username=user.username%}">My tasks</a>
      </li>
      {% endif %}
      <li>
        <a href="{% url "dashboard:projects" %}">Projects</a>
      </li>
      <li>
        <a href="">Admin-panel</a>
      </li>
    </ul>
  </nav>
{% endblock %}