{% extends "base.html" %}
{% block content %}
  <div>
    <h4>Available project list</h4>
    <hr>
    <div>
      {% for project in project_list %}
        <div>
          <h4>
            <a href="{% url "dashboard:project-detail" pk=project.id %}">{{ project.project_name }}</a>
          </h4>
          <p>Description: {{ project.description }}</p>
          <span>Created: {{ project.created_at }}</span>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}