{% extends "base.html" %}

{% block content %}
  <div>
    <h3>Detail info about project - {{ project.project_name }}</h3>
    {% if user.has_perm_project_edit %}
    <span><a href="{% url "dashboard:project-edit" pk=project.id %}">Edit project</a></span>
    {% endif %}
    <hr>
    <h5>Description:</h5>
    <p>{{ project.description }}</p>
    <hr>
    <p>Assignees:</p>
      {% for assigner in project.assignees.all%}
        <p>{{ assigner }} </p>
      {% endfor %}
    <hr>
    <h5>Task list</h5><a href="{% url "dashboard:task-create" %}">create task</a>
    <div>
      {% for task in project.task.all %}
        <ul>
          {% if not task.is_completed %}
            <li>
              <a href="{% url "dashboard:task-detail" pk=task.id %}">{{ task.task_name }}</a>
            <p>{{ task.description }} </p>
            <p>{{ task.deadline }}</p>
          </li>
          {% endif %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}